<template>
  <div id="app">
    <div class="container mt-5">
      <h3 class="text-primary">Sehenswürdigkeiten</h3>
      <hr>
      <p>Hier finden Sie alle Sehenswürdigkeiten des Landes!</p>

      <div class="border border-2 rounded p-3 mt-4">
        <h5>Test</h5>
        <p class="mb-0"><strong>Adresse:</strong> Schlossplatz 1, 79252 Stuttgart, Germany</p>
        <p class="mb-0"><strong>Preis:</strong> 12 €</p>
        <p class="mb-0"><strong>Status:</strong> geöffnet</p>
        <button type="button" class="btn btn-sm btn-primary mt-3">Book now</button>
        <button type="button" class="btn btn-sm btn-outline-success mt-3 ms-2">Add Review</button>
      </div>

      <div class="border border-2 rounded p-3 mt-4">
        <h5>Sight 2</h5>
        <p class="mb-0">Adresse: Schlossplatz 1, 79252 Stuttgart, Germany</p>
        <p class="mb-0">Preis: 12 €</p>
        <p class="mb-0">Status: geöffnet</p>
      </div>

      <div class="border border-2 rounded p-3 mt-4">
        <h5>Mercedes Banz Museum</h5>
        <p class="mb-0">Adresse: Daimler Strasse 5, 79252 Stuttgart, Germany</p>
        <p class="mb-0">Preis: 32 €</p>
        <p class="mb-0">Status: geschlossen</p>
      </div>

    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  components: {
  }
}
</script>

<style>

</style>
